/*****************************************************************/
/***************************** Custom ****************************/
/**************************** scrollbar **************************/
/*****************************************************************/
::-webkit-scrollbar {
    width: 6px;
}
  
/**********************************************************/
/************************* Track **************************/
/**********************************************************/
::-webkit-scrollbar-track {
    background: var(--formWhiteColor);
}

/**********************************************************/
/************************* Thumb **************************/
/**********************************************************/
::-webkit-scrollbar-thumb {
    background: #8a8a8a;
    border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
    background: #666666;
}