:root{
    --coloredStripe: #009688;
    --neutralStripe: #dadbd3;
    --formHeaderColor: #dadbd3;
    --formWhiteColor: #ffffff;
    --formDisableNotifyColor: #8edafc;
    --formHeaderIconsColor: #b1b1b1;
    --formConversationBarIconsColor: #6b7376;
}
#app,#mainContainer{ 
    width: 100%; 
    height: 100vh;
}
#coloredStripe{
    height: 15%;
    background-color: var(--coloredStripe);
}
#neutralStripe{
    height: 85%;
    background-color: var(--neutralStripe);
}
#mainContainer{
    position: fixed;
    top: 0;
}
#form{
    width: 80%;
    height: 95%;
    background-color: var(--formWhiteColor);
}
#formLeft,#formRight{
    border: 1px solid #e1e1e1;
    height: 100%;
}