:root{
    --coloredStripe: #009688;
    --neutralStripe: #dadbd3;
    --formHeaderColor: #eaeaea;
    --formWhiteColor: #ffffff;
    --formDisableNotifyColor: #8edafc;
    --formHeaderIconsColor: #b1b1b1;
    --formConversationBarColor: #f3eeea;
    --formConversationBarIconsColor: #6b7376;
    --contactActiveBgColor: #e9ebeb;
    --lastAccessColor: #8e7483;
    --activeNotifyDesktopColor: #648da7;
    --messageSentedByMeColor: #d5f9ba;
    --splashBackgroundColor: black;
    --headerHeight: 70px;
    --writeMessagedDivHeight: 70px;
    --bellSize: 50px;
}
#app,#mainContainer,#splashScreen{ 
    width: 100%; 
    height: 100vh;
}
#coloredStripe{
    height: 15%;
    background-color: var(--coloredStripe);
}
#neutralStripe{
    height: 85%;
    background-color: var(--neutralStripe);
}
#mainContainer{
    position: fixed;
    top: 0;
}
#form{
    width: 80%;
    height: 95%;
    background-color: var(--formWhiteColor);
}
#formLeft,#formRight{
    border: 1px solid #e1e1e1;
    height: 100%;
}
.formHeader{
    height: var(--headerHeight);
    background-color: var(--formHeaderColor);
}
.formContent{
    height: calc(100% - var(--headerHeight));
}
#writeMessagesDiv{
    height: var(--writeMessagedDivHeight);
    background-color: var(--formConversationBarColor);
}
#readMessagesDiv{
    height: calc(100% - var(--writeMessagedDivHeight));
}
.profile img{
    width: calc(var(--headerHeight) - 1rem);
    height: calc(var(--headerHeight) - 1rem);
}
.headerIcon{
    color: var(--formHeaderIconsColor);
}
.formContent h1, #splashScreen h1{
    font-size: 4.5rem;
}
.conversationBarColor{ color: var(--formConversationBarIconsColor); }
#messageToSend{
    outline-color: var(--formConversationBarIconsColor);
}
#readMessagesDiv{
    background-size: cover;
    background-repeat: no-repeat;
}
.formContent{
    overflow-y: auto;
}
.contact{
    cursor: pointer;
}
.contact>.profile { width: 100%; }
.active,.contact:hover{
    background-color: var(--contactActiveBgColor);
}
#disableNotify{
    background-color: var(--formDisableNotifyColor);
}
#disableNotify i{
    background-color: var(--formWhiteColor);
    color: var(--formDisableNotifyColor);
}
#disableNotify>#bell{
    width: var(--bellSize);
    height: var(--bellSize);
    background-color: var(--formWhiteColor);
    color: var(--formDisableNotifyColor);
}
.activeNotifyColor{
    color: var(--activeNotifyDesktopColor);
}
.lastAccessColor{
    color: var(--lastAccessColor);
}
.fs-7{
    font-size: 0.9rem;
}
.fs-8{
    font-size: 0.7rem;
}
#searchChat::placeholder{
    font-weight: 600;
    color: var(--lastAccessColor);
}
#readMessagesDiv{
    padding: 10%;
}
.message{
    background-color: var(--formWhiteColor);
    max-width: 55%;
    align-self: start;
}
.messageByMe{
    background-color: var(--messageSentedByMeColor);
    align-self: end;
}
#splashScreen{
    background-color: var(--splashBackgroundColor);
    z-index: 4000;
}
#splashScreen>div{
    border: 3px solid var(--formWhiteColor);
    position: relative;
}


.boxTransitionTop {
    position: absolute;
    top: -10px;
    left: 10%;
    background: var(--splashBackgroundColor);
    width: 30px;
    height: 30px;
}
.boxTransitionBottom{
    position: absolute;
    bottom: -10px;
    right: 20%;
    background: var(--splashBackgroundColor);
    width: 30px;
    height: 30px;
}
.boxTransitionTop{
    animation: moveRightBottom 3s 0.2s infinite ease-out both;
}
.boxTransitionBottom{
    animation: moveLeftTop 3s 0.2s infinite ease-out both;
}
@keyframes moveLeftTop{
    0%{
        right: -10px;
    }
    50%{
        right: 98%;
        bottom: -10px;
    }
    51%{
        width: 20px;
        height: 20px;
    }
    90%{
        bottom: 90%;
        right: 95%;
        width: 20px;
        height: 20px;
    }
    100%{
        bottom: 90%;
        right: 100%;
        width: 30px;
        height: 20px;
    }
}
@keyframes moveRightBottom{
    0%{
        left: -10px;
    }
    50%{
        left: 98%;
        top: -10px;
    }
    51%{
        width: 20px;
        height: 20px;
    }
    90%{
        top: 90%;
        left: 95%;
        width: 20px;
        height: 20px;
    }
    100%{
        top: 90%;
        left: 100%;
        width: 30px;
        height: 20px;
    }
}
.toRead{
    color: green;
}
.profile>.newMessageAndTime{
    height: 100%;
}