<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Boolzapp</title>
    <link rel="shortcut icon" href="./assets/images/logo.png" type="image/x-icon">
    <!-- Include custom css file -->
    <link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet" href="./css/scrollbar.css">
    <!-- Include bootstrap css and js-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.bundle.min.js" integrity="sha384-qKXV1j0HvMUeCBQ+QVp7JcfGl760yU08IQ+GpUo5hlbpg51QRiuqHAJz8+BrxE/N" crossorigin="anonymous"></script>
    <!-- Include vue library -->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <!-- Include Fontawesome library -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- Include custom js file -->
    <script src="./js/utility.js" defer></script>
    <script src="./js/script.js" defer></script>
</head>
<body>
    <div id="app">
        <div id="splashScreen" v-if="splashVisibility==true" class="d-flex justify-content-center align-items-center">
            <div class="d-flex flex-column justify-content-center align-items-center p-4 rounded-circle">
                <div class="boxTransitionTop"></div>
                <h1 class="headerIcon fa-solid fa-shield-cat pb-4"></h1>
                <h2 class="fs-1 text-white">Boolzap</h2>
                <div class="boxTransitionBottom"></div>
            </div>
        </div>
        <div id="coloredStripe" v-if="splashVisibility==false"></div>
        <div id="neutralStripe" v-if="splashVisibility==false"></div>
        <div id="mainContainer" v-if="splashVisibility==false" class="d-flex justify-content-center align-items-center">
            <div id="form" class="d-flex">
                <div id="formLeft" class="col-4">
                    <div class="formHeader d-flex justify-content-between align-items-center p-2">
                        <div class="profile d-flex align-items-center px-1">
                            <img class="rounded-circle" :src="profile.avatar" :alt="'Avatar di '+profile.name" draggable="false">
                            <span class="fw-semibold ps-2 fs-6">{{profile.name}}</span>
                        </div>
                        <div class="actions d-flex align-items-center px-4">
                            <i class="fa-solid fa-circle-notch headerIcon fs-4 ps-4"></i>
                            <i class="fa-solid fa-message headerIcon fs-4 ps-4"></i>
                            <i class="fa-solid fa-ellipsis-vertical headerIcon fs-4 ps-4"></i>
                        </div>
                    </div>
                    <div class="formContent d-flex flex-column gap-1 overflow-hidden">
                        <div id="disableNotify" class="d-flex justify-content-between align-items-center p-3">
                            <div id="bell" class="rounded-circle overflow-hidden d-flex justify-content-center align-items-center">
                                <i class="fa-solid fa-bell-slash fs-5 p-2 headerIcon"></i>
                            </div>
                            <div class="d-flex flex-column flex-fill">
                                <span class="fw-semibold ps-2 fs-6">Ricevi notifiche di nuovi messaggi</span>
                                <span class="fw-semibold ps-2 fs-7 text-decoration-underline activeNotifyColor">Attiva notifiche desktop</span>
                            </div>
                        </div>
                        <div id="searchBar" class="input-group px-2 pt-1">
                            <span class="input-group-text bg-white px-4" id="searchChatIcon">
                                <i class="fa-solid fa-magnifying-glass headerIcon"></i>
                            </span>
                            <input id="searchChat" v-model.trim="chatToSearch" type="text" class="form-control" placeholder="Cerca o inizia una nuova chat" aria-describedby="searchChatIcon" @change="SearchContact">
                        </div>
                        <div id="contactsList" class="d-flex flex-column overflow-y-auto">
                            <div :id="'contact'+index" v-for="(contact,index) in contacts" @click="OpenContact(index)" class="contact d-flex p-3 rounded m-1 mb-0" :class="contact.visible==true? (contact.id == contactOpened.id ? 'active' : '') :'d-none'">
                                <div class="profile d-flex justify-content-between align-items-center px-1">
                                    <div class="d-flex">
                                        <img class="rounded-circle" :src="contact.avatar" :alt="'Avatar di '+contact.name" draggable="false">
                                        <div class="d-flex flex-column">
                                            <span class="fw-semibold ps-2 fs-6">{{contact.name}}</span>
                                            <span class="fw-semibold ps-2 fs-6 headerIcon" v-if="contact.messages.length>0">{{ accessStates[0]!=contact.lastAccess ? contact.messages[contact.messages.length-1].message : contact.lastAccess }}</span>
                                        </div>
                                    </div>
                                    <div class="newMessageAndTime d-flex flex-column justify-content-between" v-if="contact.messages.length>0">
                                        <span class="fs-6 headerIcon" :class="contact.messages[contact.messages.length-1].toRead ? 'toRead' : ''">{{contact.messages[contact.messages.length-1].dateAbbreviation}}</span>
                                        <i class="fa-solid fa-circle fs-7 align-self-end" :class="contact.messages[contact.messages.length-1].toRead ? 'toRead' : 'invisible'"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="formRight" class="col-8">
                    <div class="formHeader d-flex justify-content-between align-items-center p-2" v-if="contactOpened.id>0">
                        <div class="profile d-flex align-items-center px-2 flex-fill">
                            <img class="rounded-circle" :src="contactOpened.avatar" :alt="'Avatar di '+contactOpened.name" draggable="false">
                            <div class="d-flex flex-column">
                                <span class="fw-semibold ps-3 fs-6">{{contactOpened.name}}</span>
                                <span class="fw-semibold ps-3 fs-7 headerIcon lastAccessColor">{{ !accessStates.includes(contactOpened.lastAccess)? 'Ultimo accesso ' + contactOpened.lastAccess : contactOpened.lastAccess }}</span>
                            </div>
                        </div>
                        <div class="actions d-flex align-items-center px-4">
                            <i class="fa-solid fa-magnifying-glass headerIcon fs-4 ps-4"></i>
                            <i class="fa-solid fa-paperclip headerIcon fs-4 ps-4"></i>
                            <div class="dropdown">
                                <span class="dropdown-toggle fa-solid fa-ellipsis-vertical headerIcon fs-4 ps-4" role="button" data-bs-toggle="dropdown" aria-expanded="false"></span>
                                <ul class="dropdown-menu">
                                    <li>
                                        <div class="dropdown-item d-flex align-items-center gap-2" data-bs-toggle="modal" data-bs-target="#choseChatBackground" @click="OpenModalChoseChatBackground">
                                            <i class="fa-regular fa-image"></i>
                                            <span>Cambia sfondo</span>
                                        </div>
                                    </li>
                                    <li><hr class="dropdown-divider"></li>
                                    <li>
                                        <div class="dropdown-item d-flex align-items-center gap-2" @click="CloseChat">
                                            <i class="fa-solid fa-xmark"></i>
                                            <span>Chiudi chat</span>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="formContent d-flex flex-column overflow-hidden" v-if="contactOpened.id>0">
                        <div id="readMessagesDiv" class="d-flex flex-column overflow-y-auto" :style="'background-image: url('+contactOpened.backgroundImage+');'">
                            <div :id="'message'+index" ref="chatMessages" v-for="(message,index) in contactOpened.messages" v-if="contactOpened.messages.length > 0" class="message d-flex flex-column rounded m-1" :class="message.status=='sent' ? 'messageByMe' : ''">
                                <div class="d-flex">
                                    <span class="p-3 pb-1">{{message.message}}</span>
                                    <div class="dropdown align-self-end p-2">
                                        <span class="dropdown-toggle fs-4" data-bs-toggle="dropdown" aria-expanded="false"></span>
                                        <ul class="dropdown-menu">
                                            <li>
                                                <a class="dropdown-item d-flex align-items-center gap-2" @click="DeleteMessage(index)">
                                                    <i class="fa-regular fa-trash-can"></i>
                                                    <span>Elimina</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <span class="p-1 pt-0 align-self-end headerIcon fs-8">{{message.timeAbbreviation}}</span>
                            </div>
                        </div>
                        <div id="writeMessagesDiv" class="d-flex justify-content-around align-items-center">
                            <i class="fa-regular fa-face-smile conversationBarColor fs-4 flex-fill text-center"></i>
                            <input type="text" name="messageToSend" id="messageToSend" class="conversationBarColor rounded border-0 fs-6 col-10 p-2" v-model.trim="contactOpened.newMessageToSend" placeholder="Scrivi un messaggio" @keyup.enter="SendNewMessage">
                            <i class="fa-solid fa-paper-plane conversationBarColor fs-4 flex-fill text-center" v-if="contactOpened.newMessageToSend!=''" @click="SendNewMessage"></i>
                            <i class="fa-solid fa-microphone conversationBarColor fs-4 flex-fill text-center" v-else></i>
                        </div>
                    </div>
                    <div class="formContent d-flex justify-content-center align-items-center flex-column p-4" v-else>
                        <h1 class="headerIcon fa-solid fa-shield-cat pb-4"></h1>
                        <h2 class="fs-5">Boolzap per Windows</h2>
                        <p class="fs-6 headerIcon">Invia e ricevi messaggi senza mantenere il telefono connesso a Internet.<br>Usa Boolzap su un massimo di 4 dispositivi e 1 telefono  contemporaneamente.</p>
                        <p class="fs-6 d-flex align-items-center gap-2 pt-4 headerIcon">
                            <i class="fa-solid fa-lock"></i>
                            <span>Con crittografia end-to-end</span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <!-- Modals containing all the modal-dialog that user could open -->
        <div class="modal fade modal-xl" id="choseChatBackground" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <!-- Modal used to make the user chose the backgrounds of a chat -->
            <div class="modal-dialog" v-if="modalTypeOpened==0">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel">Scegli il nuovo sfondo della chat con {{contactOpened.name}}</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" @click="SetTempModalResult(0)"></button>
                    </div>
                    <div class="modal-body overflow-y-auto">
                        <div class="d-flex justify-content-center align-items-center p-4 flex-wrap" v-if="chatBackgrounds.length > 1">
                            <div class="image" v-for="(background,index) in chatBackgrounds" @click="SetTempModalResult(index)" :class="index == tempModalResult ? 'selectedBackground' : ''">
                                <img :src="'./assets/images/backgrounds/'+background" :alt="'Sfondo '+index">
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" @click="SetTempModalResult(0)">Close</button>
                        <button type="button" class="btn btn-primary" data-bs-dismiss="modal" @click="SaveNewChatBackground()">Save changes</button>
                    </div>
                </div>
            </div>
            <!-- Modal used to make the user chose his profile picture -->
            <div class="modal-dialog" v-if="modalTypeOpened==1">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel">Scegli la tua nuova foto profilo</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" @click="SetTempModalResult(0)"></button>
                    </div>
                    <div class="modal-body overflow-y-auto">
                        <div class="d-flex justify-content-center align-items-center p-4 flex-wrap" v-if="profilePictures.length > 1">
                            <div class="image" v-for="(picture,index) in profilePictures" @click="SetTempModalResult(index)" :class="index == tempModalResult ? 'selectedBackground' : ''">
                                <img :src="'./assets/images/profiles/'+picture" :alt="'Foto profilo '+index">
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" @click="SetTempModalResult(0)">Close</button>
                        <button type="button" class="btn btn-primary" data-bs-dismiss="modal" @click="SaveNewProfilePicture()">Save changes</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>